#root {
  box-sizing: border-box;
  color: #ffffff;
  font-size: 62.5%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/***** TYPOGRAPHY | GLOBAL *****/
h2 {
  font-size: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 1.7rem;
}

/***** BUTTONS | GLOBAL *****/
.btn {
  cursor: pointer;
}

/***** COMPONENTS | HEADER.JSX *****/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-title {
  display: flex;
  align-items: center;
}

.fia-logo {
  width: 50px;
}

.header-company {
  font-size: 1.6em;
  font-weight: 100;
  margin-left: 10px;
}

/***** COMPONENTS | HERO.JSX *****/
.hero-container {
  padding: 20px;
  display: flex;
  align-items: center;
}

.bio-image {
  width: 180px;
  border-radius: 100%;
  margin-right: 20px;
}

.bio-name {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: .02rem;
  margin-bottom: 30px;
}

.bio-social {
  display: flex;
  font-size: 2.6em;
  gap: 18px;
}

.bio-social a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: inherit;
  cursor: pointer;
}

.bio-social a:hover {
  color: #ffffff;
}

/***** COMPONENTS | CARD.JSX *****/
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

*{ /* Hide Scrollbar */
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.card {
  width: 370px;
  height: 130px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: border-color 0.25s;
}

.card:hover {
  border-color: rgba(94, 234, 211, 0.6);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
}

.card-number {
  color: #5eead3;
  position: absolute;
  font-size: 2.2em;
  right: 20px;
  top: -10px;
}

.card-badge {
  width: 50px;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.btn-connect {
  display: flex;
  align-items: center;
  background: #142a39;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #5eead3;
  width: 70px;
  font-size: .8rem;
  letter-spacing: .02rem;
  padding: 6px 12px;
  position: absolute;
  right: 20px;
  top: 80px;
}

.btn-connect span {
  margin-right: 5px;
}

.arrow-icon {
  font-size: 1rem
}

/***** COMPONENTS | BIO.JSX *****/
.bio-container {
  padding: 20px;
}

.bio-standout {
  color: #ffffff;
}

/***** COMPONENTS | MODAL.JSX *****/
.modal-container {
  padding: 0 20px;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.modal-inner {
  background: #111a35;
  padding: 30px;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-contact {
  display: flex;
  font-size: 1.4em;
}

.modal-content {
  margin-bottom: 80px;
}

.modal-badge {
  display: flex;
  align-items: center;
  font-weight: 500;
  border-radius: 20px;
  margin-left: 10px;
  padding: 7px 10px;
  cursor: pointer;
  text-decoration: none;
}

.modal-icon {
  margin-right: 3px;
}

.modal-email {
  background: rgba(13, 202, 240, 0.3);
  color: #0DCAF0;
}

.modal-phone {
  background: rgba(255, 193, 7, 0.3);
  color: #FFC107;
}

.btn-join {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 2.2em;
  font-size: 1.6em;
  font-weight: 500;
  font-family: inherit;
  background-color: #142a39;
  color: #5eead3;
  transition: border-color 0.25s;
  margin-bottom: 30px;
}

.btn-join:hover {
  border-color: #5eead3;
}

.btn-join:focus,
.btn-join:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-download {
  background: transparent;
  color: #5eead3;
  font-size: 1.6em;
  border: none;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.download-icon {
  color: #5eead3;
  margin-right: 8px;
}

.btn-close-modal {
  position: absolute;
  background: #142a39;
  border: 1px solid #5eead3;
  color: #5eead3;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 11px;
  width: 50px; /* You can adjust this */
  height: 50px; /* You can adjust this */
  border-radius: 50%;
}

.btn-close-modal:hover {
  background: #5eead3;
  color: #142a39;
}

/***** MEDIA QUERIES 960PX | HEADER.JSX *****/
@media screen and (max-width: 960px) {
  .hero-container {
    padding: 40px 20px;
  }

  h2 {
    font-size: 1.6em;
  }

  .bio-image {
    width: 160px;
  }

  .bio-name {
    font-size: 2.5rem;
    margin: 20px auto;
  }

  .bio-social {
    font-size: 2.5em;
    gap: 15px;
  }
/***** MEDIA QUERIES 960PX | CARDS.JSX *****/
  .card-container {
    flex-wrap: nowrap;
  }
  .card {
    width: 200px;
    height: 100px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
  }

  .btn-connect {
    top: 60px;
  }
}
/***** MEDIA QUERIES 768PX | HEADER.JSX *****/
@media screen and (max-width: 768px) {
  .fia-logo {
    width: 40px;
  }
/***** MEDIA QUERIES 768PX | HERO.JSX *****/
  .hero-container {
      display: block;
      padding: 20px;
    }

  .bio-image {
    width: 115px;
    border-radius: 100%;
  }

  .bio-name {
    font-size: 1.8rem;
    margin: 10px auto;
  }

  .bio-social {
    font-size: 2.3em;
    margin-bottom: 10px;
  }
/***** MEDIA QUERIES 768PX | CARDS.JSX *****/
  .card-container {
    padding: 40px 20px;
  }

  .card:hover {
    border-color: transparent;
  }
}
/***** MEDIA QUERIES 561PX | HEADER.JSX *****/
@media screen and (max-width: 561px) {
  .header-company {
    font-size: 1.4em;
  }
/***** MEDIA QUERIES 561PX | CARD.JSX *****/
  .card-container {
    padding: 20px 10px;
    gap: 15px
  }
/***** MEDIA QUERIES 561PX | MODAL.JSX *****/
  .modal-overlay {
    align-items: flex-end;
    overflow-y: hidden;
  }

  .modal-inner {
    border-radius: 20px 20px 0 0;
  }

  .btn-join {
    width: 100%;
    margin-bottom: 40px;
  }
}
